.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    bottom: 0;
    width: 100%;
    background-color: #ddd;
    height: 50px;
    margin-top: 2rem;
    font-family: Poppins;
}